[Unit]
Description=Node WebPack for People Counter front-end

[Service]
Type=simple
WorkingDirectory=/home/ssgdemo/reference-implementation-private/people-counter/webservice/ui
ExecStart=/usr/bin/npm run dev
Restart=on-failure

[Install]
WantedBy=multi-user.target
